/* ********************************************************* */
/* *****************    start-footer    ********************* */
.footer{
    background-color: #f7fdfc;
}
.footer-fast-link__button{
padding: 8px 0;
margin-bottom: 8px;
color: #00241f;
font-size: 16px;
font-weight: 700;
}
.footer-fast-link__link{
    border-color:#ebebeb ;
}
.footer-fast-link__link a{
    display: inline-block;
    margin-bottom: 12px;
    color: #00241f;
    font-size: 14px;
}
.footer-fast-link__link:hover a{
    color: #009480;
}
.footer__contact-us_address{
    font-size: 14px;
    font-weight: 500;
    color: #00241f;
}
.footer__contact-us_phone{
    font-size: 14px;
    color: #009480;
    font-weight: 700;
}
.footer__contact-us_phone i{
    font-size: 16px;
   
}
.footer__contact-us_phone:hover{
    
    color: #7dd4c873;
}
.license-img{
    border:1px solid #ebebeb;
    border-radius: 10px;
}
.footer-social-icon{
    font-size: 21px;
    padding: 0 0 0 30px;
}
.footer-social-icon:hover{
    color: #f32727;
    
}
/* ********************************************************* */
/* *****************    finish-footer    ********************* */